<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 该 BeanPostProcessor 将自动对标注 @Autowired 的 Bean 进行注入 -->     
  	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->
	<context:annotation-config/>
	
	<!-- 配置Action -->
	<bean id="consultAction" class="cn.ustc.web.action.ConsultAction"/>
	<bean id="listVocation" class="cn.ustc.web.action.ListVocation"/>
	<bean id="userAction" class="cn.ustc.web.action.UserAction"/>
	<bean id="schemeAction" class="cn.ustc.web.action.SchemeAction"/>
	<bean id="projectAction" class="cn.ustc.web.action.ProjectAction"/>
	<bean id="evaluateAction" class="cn.ustc.web.action.EvaluateAction"/>
	<bean id="messageAction" class="cn.ustc.web.action.MessageAction"/>
	
	<!-- 配置Android Action -->
	<bean id="userLoginAndroid" class="cn.ustc.android.action.UserLogin"/>
	<bean id="consultAndriodAction" class="cn.ustc.android.action.ConsultAndriodAction"/>
	<bean id="projectAndriodAction" class="cn.ustc.android.action.ProjectAndriodAction"/>
	<bean id="schemeAndriodAction" class="cn.ustc.android.action.SchemeAndriodAction"/>
	<bean id="evaluateAndriodAction" class="cn.ustc.android.action.EvaluateAndriodAction"/>
	<bean id="companyOperateAction" class="cn.ustc.android.action.CompanyOperateAction"/>
	
	<!-- 配置Service  -->
	<bean id="consultService" class="cn.ustc.web.service.ConsultService"/>
	<bean id="userService" class="cn.ustc.web.service.UserService"/>
	<bean id="professorService" class="cn.ustc.web.service.ProfessorService"/>
	<bean id="companyService" class="cn.ustc.web.service.CompanyService"/>
	<bean id="schemeService" class="cn.ustc.web.service.SchemeService"/>
	<bean id="administerService" class="cn.ustc.web.service.AdministerService"/>
	<bean id="projectService" class="cn.ustc.web.service.ProjectService"/>
	<bean id="evaluateService" class="cn.ustc.web.service.EvaluateService"/>
	<bean id="messageService" class="cn.ustc.web.service.MessageService"/>
	
	<!-- 配置DAO -->
	<bean id="consultCheckDAO" class="cn.ustc.web.dao.ConsultCheckDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="consultDAO" class="cn.ustc.web.dao.ConsultDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="userDAO" class="cn.ustc.web.dao.UserDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="vocationDAO" class="cn.ustc.web.dao.VocationDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="projectDAO" class="cn.ustc.web.dao.ProjectDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="schemeDAO" class="cn.ustc.web.dao.SchemeDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="professorDAO" class="cn.ustc.web.dao.ProfessorDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="companyDAO" class="cn.ustc.web.dao.CompanyDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="administerDAO" class="cn.ustc.web.dao.AdministerDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="evaluateDAO" class="cn.ustc.web.dao.EvaluateDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="messageDAO" class="cn.ustc.web.dao.MessageDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<!-- 整合hibernate 方式一 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	
	<!-- hibernate 模板 -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 注解事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
