<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 配置Action -->
	<bean id="consultAction" class="cn.ustc.web.action.ConsultAction">
		<property name="consultService" ref="consultService"></property>
	</bean>
	<bean id="listVocation" class="cn.ustc.web.action.ListVocation">
		<property name="vocationDAO" ref="vocationDAO"></property>
	</bean>
	<bean id="userAction" class="cn.ustc.web.action.UserAction">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<!-- 配置Service  -->
	<bean id="consultService" class="cn.ustc.web.service.ConsultService">
		<property name="consultCheckDAO" ref="consultCheckDAO"/>
		<property name="consultDAO" ref="consultDAO"/>
	</bean>
	<bean id="userService" class="cn.ustc.web.service.UserService">
		<property name="userDAO" ref="userDAO"/>
	</bean>
	
	<!-- 配置DAO -->
	<bean id="consultCheckDAO" class="cn.ustc.web.dao.impl.ConsultCheckDAOImpl">
		<!-- 注入sessionFactory， 构造hibernateTemplate -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="consultDAO" class="cn.ustc.web.dao.impl.ConsultDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userDAO" class="cn.ustc.web.dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vocationDAO" class="cn.ustc.web.dao.impl.VocationDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 整合hibernate 方式一 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	
	<!-- 事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>
